{% load static %}

<section id="team" class="section-padding bg-gray">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Meet our team</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12">
             <!-- Team Item Starts -->
              {% for t in team %}

            <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
              <div class="team-img">
                <img class="img-fluid" src="{{ t.image.thumb.url }}" alt="">
              </div>
              <div class="contetn">
                <div class="info-text">
                  <h3><a href="#">{{ t.name }}</a></h3>
                  <p>{{ t.profission }}</p>
                </div>
                <p>{{ t.description }}</p>
                <ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
              {% endfor %}
              <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">

          </div>
        </div>
      </div>
    </section>